:root {
  --main-color: #ced2ba;
}

body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  box-sizing: border-box;
}

body > * {
  width: 100%;
  height: 100%;
}

.submit-btn {
  margin-top: 5px;
  width: 40%;
  height: fit-content;
  overflow: hidden;
  white-space: nowrap;
  max-height: 50px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: auto;
}

.error {
  color: red;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  flex-grow: 1;
  min-width: 324px;
  min-height: 376px;
  position: relative;
  height: 40%;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-height: 50%;
  border-radius: 1rem;
  background-color: var(--main-color);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.form > input:text {
  box-sizing: border-box;
  overflow: hidden;
  max-height: 50px;
  width: 100%;
}

.form > label {
  margin-top: 5px;
  margin-bottom: 5px;
}

form > * {
  width: 80%;
}

form > h3 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: -2px;
}

.hover-link:hover {
  cursor: pointer;
}

#root {
  height: 100dvh;
  width: 100%;
  min-width: 348px;
}

h2 {
  text-align: center;
  vertical-align: middle;
}

body h2 {
  font-weight: 400;
}

.alt-link {
  text-align: center;
}


@media (max-width: 428px) {
  .form-wrapper {
    width: 100%;
  }
  .submit-btn {
    font-size: x-small;
  }
}

@media (max-width: 768px) {
  .form-wrapper {
    width: 80%;
  }
  .submit-btn {
    font-size: small;
  }
  .form > * {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .form-wrapper {
    width: 60%;
  }
  .form {
    width: 40%;
    margin: auto;
  }
}